node_modules/
dist/
.env
.env.*
!.env.example
*.log
coverage/
.DS_Store
.vscode/
.idea/
/apps/web/dist-domain
/certs
/services/gateway/_deprecated
/venv
/runs
*.tsbuildinfo
/py/datasets
/py/ocr/**/__pycache__
/py/ocr_debug
/py/runs
/py/yolo_barcode_dataset
py/yolov8n.pt
